@import '../../../scss/index.scss';


.login-form {
    .ant-form-item:last-of-type {
        margin: 0;
    }

    &__input {
        .ant-form-prefix {
            i {
                font-size: 0em + 22px / $defaultFontSize
            }
        }

        input {
            font-size: 0em + 20px / $defaultFontSize;
            padding: 20px 20px 20px 40px;

            &:focus {
                border-color: $primary_color;
                box-shadow: none;
            }
        }
    }


    &__button {
        width: 100%;
        font-size: 0em + 22px / $defaultFontSize;
        background-color: $primary_color;
        color: $font-light;
        height: 42px;
        margin-top: 20px;

        &:hover {
            background-color: $primary_color-hover;
            color: $font-light;
        }

        &:focus,
        &:active {
            background-color: $primary_color;
            color: $font-light;
            border: 0;
        }
    }
}