@import '../../../scss/index.scss';

.sign-in {
    background-image: url('../../../assets/images/jpg/background-v1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &__content {
        align-items: center;
        display: flex;
        flex-direction: column;
        min-height: 100vh;

        &-logo {
            padding: 60px 20px;

            img {
                width: 100%;
            }
        }

        &-tabs {
            background-color: $background-light;

            .ant-tabs {
                width: 90vw;

                @media (min-width: $media-breackpoint-up-lg) {
                    width: auto;
                }
            }

            .ant-tabs-nav-container {
                height: 60px !important;
            }

            .ant-tabs-nav {
                width: 100%;
            }

            .ant-tabs-tab {
                border-radius: o !important;
                border-top: 4px solid $border-gray !important;
                font-size: 0em + 10px / $defaultFontSize;
                height: 60px !important;
                text-align: center;
                width: 50px;

                @media (min-width: $media-breackpoint-up-lg) {
                    font-size: 0em + 23px / $defaultFontSize;
                    width: 220px;
                }

                &:hover {
                    color: $font-gray-dark;
                }

                &:before {
                    content: none;
                }

                span {
                    align-items: center;
                    display: flex;
                    height: 100%;
                    justify-content: center;
                }
            }

            .ant-tabs-tab-active {
                border-left: 0 !important;
                border-radius: 0 !important;
                border-right: 0 !important;
                border-top: 4px solid $primary_color !important;
                color: $primary_color !important;
            }

            .ant-tabs-content {
                padding: 0 16px 16px 16px;
                text-align: center;
            }
        }
    }
}