@import "../../../../scss/index.scss";

.post-list-web {
  margin: 50px 0;

  > h1 {
    color: $font-light;
    margin: 50px 0;
    text-align: center;
  }

  .post {
    color: $font-light;

    &__date {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: $primary_color;
      margin-right: 20px;
      border-radius: 5px;
      text-transform: capitalize;
      padding: 5px 15px;
    }

    .ant-list-item-meta-title > a {
      color: $font-light;
      font-size: 16px;
      &:hover {
        color: $primary_color-hover;
      }
    }
  }
}
