@import "../../../scss/index.scss";

.home-courses {
  margin-top: 50px;
  margin-bottom: 50px;

  &__title {
    text-align: center;

    h2 {
      color: $font-light;
      font-weight: bold;
      font-size: 32px;
      text-transform: uppercase;
    }
  }
  .row-courses {
    .ant-col {
      padding: 15px;
    }
  }

  &__card {
    border: 0;
    background-color: $background-dark-light-web;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.74);
    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.74);

    .ant-card-body {
      text-align: center;

      .ant-card-meta-title,
      .ant-card-meta-description {
        color: $font-light;
      }
    }

    .ant-card-actions {
      background-color: transparent;
      border: 0;

      button {
        background-color: transparent;
        border: 1px solid $primary_color;
        color: $font-light;
        height: 35px;
        width: 90%;

        &:hover {
            background-color: $primary_color-hover;
            color: $font-light;
          }
      }
    }
    &:hover {
        border: 1px solid $primary_color-hover;
        border-radius: 15px;
      }
  }

  &__more {
    text-align: center;

    button {
      background-color: $primary_color;
      border: 0;
      color: $font-light;
      width: 200px;
      height: 40px;
      font-weight: bold;
      font-size: 14px;
      text-transform: uppercase;

      &:hover {
        background-color: $primary_color-hover;
        color: $font-light;
      }
    }
  }
}
