@import "../../../../scss/index.scss";

.navigation-footer {
    color: $font-light !important;
    font-weight: bold;

    h3 {
        color: $font-light;
    }

    ul {
        padding: 0;
        li {
            list-style: none;
            padding: 5px 0;

            a {
                color: $primary_color-dark;
                &:hover {
                    color: $primary_color;
                }
            }

            .anticon {
                padding-right: 10px;
            }
        }
    }
}
