@import '../../../../scss/index.scss';
.menu-web-list {
    &__header {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 20px;
    }

    &__items {
        background-color: #fff;
        padding: 10px, 20px;

        .List {
            position: relative;

            .draggable {
                width: 100%;
                background-color: rgba(255, 255, 255, 0.5);

                &:hover {
                    cursor: pointer;
                    background-color: $primary_color-super-light;
                    border-radius: 10px;
                }

                &.dragged {
                    border: 1px solid #e2e2e2;
                    padding: 0 10px;
                    background-color: $primary_color-light;
                    border-radius: 10px;
                }
            }
        }

        .ant-list-item-meta {
            display: flex;
            align-items: center;
        }
    }
}