@import "../../../../scss/index.scss";

.courses-list {
  &__course {
    margin-bottom: 50px;

    .ant-card {
      background-color: transparent;
      border: 0;
      box-shadow: $box-shadow-ant-card;
      -webkit-box-shadow: $box-shadow-ant-card;
      -moz-box-shadow: $box-shadow-ant-card;
      width: 90%;
    }

    .ant-card-meta-title {
      color: $font-light;
      font-weight: bold;
    }

    .ant-card-meta-description {
      color: $primary_color-dark;
    }

    button {
      width: 100%;
      margin-top: 30px;
      background-color: $primary_color-light;
      color: $font-light;
      border: 0;
      font-weight: bold;
      font-size: 15px;
      height: 40px;
      text-transform: uppercase;
    }

    &-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 20px;

      span {
        color: $font-light;
        font-size: 16px;
      }
    }
  }
}
