$defaultFontSize: 16px;

$primary_color: #0098d3;
$primary_color-hover: #0280b3;
$primary_color-light: #6ec1e4;
$primary_color-super-light: #bde3f3;
$primary_color-dark: #8698a5;

$menu-color: #252527;

$font-light: #fff;
$font-gray-light: #e8e8e8;
$font-gray: #808080;
$font-gray-dark: #000;
$font-dark-light: #252527;
$font-dark: #000;

$border-light: #fff;
$border-gray-light: #e8e8e8;
$border-gray: #808080;
$border-gray-dark: #595959;
$border-dark-light: #252527;
$border-dark: #000;

$background-light: #fff;
$background-gray-light: #e8e8e8;
$background-gray: #808080;
$background-gray-dark: #595959;
$background-dark-light: #252527;
$background-dark: #000;
$background-error: #ff00001f;
$background-success: #84b84c1f;
$background-dark-web: #16202b;
$background-dark-light-web: #1a2734;

$success: #84b84c;
$error: #f00;
$warning: #f8eb2f;

// Social Color
$youtube: #cd201f;
$twitter: #1da1f2;
$facebook: #3b5998;
$linkedin: #0077b5;

//responsive down size
$media-breackpoint-down-xs: 413.98px;
$media-breackpoint-down-sm: 573.98px;
$media-breackpoint-down-md: 767.98px;
$media-breackpoint-down-lg: 991.98px;
$media-breackpoint-down-xl: 1199.98px;

//Responsive up Size
$media-breackpoint-up-xs: 320px;
$media-breackpoint-up-sm: 576px;
$media-breackpoint-up-md: 768px;
$media-breackpoint-up-lg: 992px;
$media-breackpoint-up-xl: 1200px;

//shadows
$box-shadow-ant-card: 0px, 0px, 10px, 0px rgba(0, 0, 0, 0.23);
