@import '../scss/variables';

.layout-admin {
    transition: margin-left 0.2s;

    &__content {
        min-height: calc(100vh - 65px);
        padding: 90px 25px 25px 25px;
    }

    &__footer{
        padding: 20px;
    }

    &__header {
        display: flex;
        height: 65px;
        left: 0;
        padding: 0;
        position: fixed;
        top: 0;
        width: 100%;
    }
}